.cocktail {
  width: 100%;
  height: 50vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6)),
    url("../../assets/images/tropical.jpg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}
